# Auto detect text files and perform LF normalization
* text=auto

# Python files
*.py text eol=lf

# Shell scripts
*.sh text eol=lf

# Batch files
*.bat text eol=crlf

# Markdown files
*.md text eol=lf

# Config files
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.txt text eol=lf
.env* text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.pyc binary
*.pdf binary
*.ez binary
*.bz2 binary
*.swp binary
